//out: style.css

@sjt-light: rgb(171,172,24);
@sjt-dark: rgb(77,77,33);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', 'San Francisco', Tahoma, Geneva, sans-serif;
    font-size: 18px;
    max-width: 960px;
    margin: 0 auto;
    background-color: rgb(33,33,33);
}

#search-inputs {
    padding: 0.5em 0;
    width: 100vw;
    background-color: @sjt-dark;
    position: relative;
    margin-left: 50%;
    left: -50vw;
    box-shadow: 1px 0 5px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    div {
        width: 960px;
        display: flex;
        span {
            background-color: white;
            margin-right: 1em;
            padding: 0.5em;
            font-size: 0.8rem;
            text-transform: uppercase;
            input {
                display: block;
                font-size: 1.2rem;
                margin-top: 0.2em;
                border: 0;
            }
        }
    }
}

#search-results {
    padding: 0.5em;
    background-color: rgb(240,244,240);
    p.date-header {
        margin: 0;
        padding: 0;
        font-size: 2em;
        font-weight: lighter;
        opacity: 0.8;
    }
    article {
        margin: 1em 0;
        border: 1px solid rgb(90,90,90);
        padding: 0 0.5em;
        background-color: rgb(255,255,255);
        .connection-intro {
            display: flex;
            justify-content: space-between;
            time {
                font-size: 1.1em;
                font-weight: bold;
            }
        }
        p.connection-intro {
            margin: 0.5em 0;
            padding-bottom: 0.2em;
            border-bottom: 1px solid @sjt-light;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                display: table-row;
                & > * {
                    margin-right: 0.5em;
                }
            }
        }
        div {
            padding: 0.3em 1em;
            &:not(:last-of-type) {
                border-bottom: 1px solid rgb(220,220,220);
            }
            &:empty {
                display: none;
            }
            &.action {
                display: flex;
                justify-content: flex-end;
            }
            &.transfer {
                font-size: 0.8em;
                padding-left: 2em;
                color: orangered;
            }
            .service {
                font-weight: bold;
                width: 240px;
                display: flex;
                justify-content: space-between;
                span.carrier {
                    margin-left: 1em;
                    padding: 0 0.5em;
                    font-weight: 400;
                    width: 120px;
                }
            }
            p {
                margin: 0.1em 0;
            }
        }
    }
}

button {
    background-color: @sjt-light;
    font-size: 1em;
    padding: 0.7em 1em;
    cursor: pointer;
    color: white;
    border: none;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}